.wrapper_advantages{
  padding: 65px 0;

  .advantages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
    }


    .advantage{
      max-width: 30%;

      @media (max-width: 969px) {
        max-width: 32%;
      }
      @media (max-width: 767px) {
        max-width: 280px;
        margin: 15px 0;
      }


      &__title{
        font-family: Montserrat;
        font-size: 26px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: #465065;
        margin-bottom: 24px;
        span{
          color: #f0454c;
        }

        br{
          @media (max-width: 969px) {
            display: none;
          }
          @media (max-width: 767px) {
            display: block;
          }

        }
      }
      &__text{
        font-family: 'Open Sans';
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        color: #9aa0ab;
        margin-bottom: 30px;
      }
      &__link{
        font-family: Montserrat;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fa5c65;
        i{
          margin-left: 10px;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}